header {
    background-image: url(../Images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
}

#active{
    background-color: green;
}

nav {
    background-color: grey;
    padding: 5px;
}


nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li{
    list-style-type: none;
    color: white;
    background-color: #B2B2B2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px;
    border-color: red;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

#content{
    float: left;
    width: 80%;
    margin-right: 15px;
    border: 1px solid grey;
}

#gordenramsey{
    width: 100%
}

aside {
    border: .5px solid yellow;
    width: 18.5%;
    float: right;
}

aside ul li a {
    color: blue;
    text-decoration: none;
}

aside ul li {
    list-style-type: none;
}

main {
    float: left;
    width: 80%; 
}

body {
    background-color: black;
    color: white;
    font-family: inherit;
}

.staff{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px; 
}

.border {
    border: .5px solid black;
    float: left;
}

footer {
    clear: both;
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    
    background-color: grey;
    text-align: center;
}

#chefs{
    float: left;
    height: 100%;
    width: 100%;
}

footer nav ul li{
    background-color: grey;
}

